@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap");

/* this allows us to use styling just by doing var(--dark--gray) */
:root {
  --dark-gray: #1a2a32;
  --gray: #2e4756;
  --turquoise: #3cc4bf;
  --yellow: #f2b147;
  --light-gray: #d3d3d3;
} 
/* * {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  list-style: none;
  font-family: "Montserrat", sans-serif;
} */
.Profilepic{
    width:200px;
    height:300px;
    object-fit:cover;
}